*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(img/image1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    background-size: cover;
}
.upper{
    padding: 30px 0;
    height: 150px;
    width: 100%;
    background-color: rgb(148, 148, 248);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(252, 249, 238);
    vertical-align: middle;
    padding: 20px;
}

.upper img{
    width: 150px;
    height: 100px;
    vertical-align: middle;
    border: transparent;
    border-radius: 60%;
    margin-right: 40px;
    margin-left: 50px;
}


.bar ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20px;
    margin-right: 90px;
    font-size: 2rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list{
    margin-right: 15px;
    padding: 30px 0;
}

.list a{
    text-decoration: none;
    color: cornsilk;
    font-size: 1.3rem;
}

li{
    list-style-type: none;
}

.mid{
    padding-bottom: 70px;
}

.mid p{
        align-items: center;
        padding-top: 40px;
        font-size: 4rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: aqua;
        font-weight: normal;
        padding-left: 40%;
}


.under{
    background-color: cornflowerblue;
    background-size: cover;
    padding-top: 20px;
}
.der{
    
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-around;

}

.down img{
    width: 700px;
    height: 400px;
    border-radius: 5px;
}

.down ul li a{
    display: block;
    color: black;
    line-height: 0.5;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: normal;
    font-family: serif;
    text-decoration: underline;
}

.pass{
    padding-top: 20px;
    font-size: 2rem;
    font-weight: normal;
    padding-left: 150px;

}

.email{
    padding-top: 30px;
    font-size: 2rem;
    align-items: center;
    padding-left: 500px;
    padding-bottom: 100px;
}

.email label{
    font-size: 2rem;
    background-color: rgb(14, 13, 13);
    background-size: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    padding-bottom: 10px;
}

.email input{
    padding: 10px;
}

.top{
    padding: 40px;
    text-align: center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.design{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 100px;
}

.design img{
    width: 600px;
    height: 600px;
    border-radius: 5px;
    padding-right: 10px;

}

.design a{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}

.section{
    background-color: black;
    background-size: cover;

}
.section a{
    margin-left: 600px;
    font-size: 2rem;
    font-family: serif;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 300px;
    background-color: orangered;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
}

.section a:hover{
    color: palegoldenrod;
}

.section-one{
    font-size: 3rem;
    color: blanchedalmond;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;

}

.soft{
    height: 10rem;
    vertical-align: middle;
}
.soft a{
    vertical-align: middle;
    text-decoration: none;
    color: brown;
    margin-left: 8rem;
    font-size: 1.5rem;
    padding-left: 30%;
    padding-bottom: 10%;
    margin-top: 40%;
}

.con{
    text-decoration: none;
    color: rgb(34, 6, 26);
    text-align: justify;
    margin: 5px 15rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 60px;
    font-size: 1.5;
    font-weight: normal;
}

#reg-form{
    width: 30%;
    border: solid transparent;
    box-shadow: 2px 3px 1px rgb(206, 204, 204);
    margin-left: 30%;
    padding: 10px 2rem;
    background-color: #fff;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    vertical-align: middle;
}

#reg-form input{
    width: 60%;
    padding: 4px 11px;
    border-radius: 15px;
    border: transparent;
    vertical-align: middle;
}

#reg-form textarea{
    border-radius: 5px;
    vertical-align: middle;
     border: transparent;
}

#reg-form button{
    margin-top: 10px;
    padding: 10px 0;
    width: 60%;
    border-radius: 15px;
    background-color: rgb(2, 63, 82);
    margin-left: 20%;
    border: transparent;
    color: #fff;
    font-size: 1.4rem;
}

.mine{
    border: 0.5px outset lightgray;
    box-shadow: 1px 1px honeydew;
    line-height: 1em;
    margin: 20px 20px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    border-radius: 5px;
    background-size: cover;
    margin-left: 210px;
    margin-right: 160px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}


.me img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.text{
    padding-top: 10px;
    padding-bottom: 10px;
}

.text p{
    font-size: 1.5rem;
    color: rgb(12, 108, 139);
    font-family: serif;
    font-style: italic;
}

.text a{
    margin-left: 80px;
    font-size: 1.3rem;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 300px;
    background-color: rgb(218, 211, 209);
    color: rgb(111, 218, 245);
    border-radius: 15px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text a:hover{
    text-decoration: underline;
    color: rgb(128, 128, 247);
}